.posedream-video-popup{
    display: none;
    position: absolute;
    overflow:scroll;
    overflow-x:hidden;
    border-radius: 2px;
    background: rgba(28,28,28,0.9);
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    -webkit-transition: opacity .1s cubic-bezier(0,0,0.2,1);
    transition: opacity .1s cubic-bezier(0,0,0.2,1);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 250px; height: 600px; right: 160px; bottom: 70px; z-index: 71
}

.pdVideoButton {
    background-color:transparent;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color: #777777;
    font-family:Arial;
    font-size:15px;
    text-decoration:none;
}
.pdVideoButton:hover {
    background-color:transparent;
}
.pdVideoButton:active {
    position:relative;
    top:1px;
}

ol {
    list-style-type: none;
    counter-reset: li;
}
li {
    font-size: 1rem;
}

li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: red;
    margin-right: 0.25em;
}